@import '../../styles/global.scss';

.button {
    width: $width;
    height: $height;
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
    border-radius: $borderRadius;
    transition: all 0.25;
}