@import '../../styles/global.module.scss';

.text {
    align-self: center;
    color: $textFontColor;
    font-size: $textFontSize;
    font-weight: $textFontWeight;
    font-family: $textFontFamily;
    text-align: $textTextAlign;
}

.title {
    justify-self: $titleJustifySelf;
    align-self: $titleAlignSelf;
    font-size: $titleSize;
    font-weight: $titleWeight;
    color: $titleColor;
}

.subtitle {
    font-size: $subtitleSize;
    font-weight: $subtitleWeight;
}

.buttonText {
    color: $buttonFontColor;
    padding: $buttonFontPadding;
}

.bold {
    font-weight: $fontWeightThick;
}

.blackTitle {
    color: #000;
}