@import '../../styles/global.module.scss';

.container {
    width: $width;
    height: $height;
    display: $display;
    grid-template-columns: $gridTemplateColumns;
    align-items: $alignItems;
    justify-content: $justifyContent;
    border-radius: $borderRadius;
    overflow: scroll;
    transition: all 0.25;
    background-color: $containerColor;
}

.pad {
    padding-top: $paddingVertical;
    padding-right: $paddingHorizontal;
    padding-bottom: $paddingVertical;
    padding-left: $paddingHorizontal;
}

.container::-webkit-scrollbar { 
    display: none
}

.color {
    background-color: $containerColor;
}

.horizontalFlex {
    display: flex;
    overflow: none;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
    overflow: none;
}

.ghost {
    background-color: transparent;
}