@import '../../styles/global.module.scss';

.screen {
    width: $screenWidth;
    height: $screenHeight;
    position: $screenPosition;
    left: $screenLeft;
    top: $screenTop;
    z-index: $screenZIndex;
    background-color: $screenColor;
}