@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$width: 100%;
$height: 100%;
$display: grid;
$alignItems: center;
$justifyContent: center;
$baseColor: #122247;
$containerColor: #fff;
$borderRadius: 1.3vw;
$fontSize: clamp(16px,1.1vw,200px);
$fontWeight: 500;
$fontFamily: 'Raleway';