@import '../../styles/global.module.scss';

.app {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: $display;
    grid-template-columns: $gridTemplateColumns;
    align-items: $alignItems;
    justify-content: $justifyContent;
    background-color: $baseColor;
    border-radius: 0;
    overflow: hidden;
}

.pad {
    padding-top: $paddingVertical;
    padding-right: $paddingHorizontal;
    padding-bottom: $paddingVertical;
    padding-left: $paddingHorizontal;
}