@import '../../styles/global.module.scss';

.pad {
    padding-top: $paddingVertical;
    padding-right: $paddingHorizontal;
    padding-bottom: $paddingVertical;
    padding-left: $paddingHorizontal;
}