@import '../../styles/global.module.scss';

.table {
    border-radius: 0;
    overflow: visible;
    width: $tableWidth;
    height: $tableHeight;
    display: $tableDisplay;
    justify-content: $tableJustifyContent;
    gap: $tableGap;
}