@import '../../styles/global.module.scss';

.box {
    width: $boxWidth;
    height: $boxHeight;
    display: $boxDisplay;
    grid-template-columns: $boxGridTemplateColumns;
    align-items: $boxAlignItems;
    justify-content: $boxJustifyContent;
    gap: $boxGap;
    border-radius: $boxBorderRadius;
    border: $boxBorder;
    background-color: $boxBg;
    overflow: $boxOverflow;
    transition: $boxTransition;
}
.box::-webkit-scrollbar { 
    display: $boxScrollBarDisplay
}

.wrap {
    padding: $wrapPadding;
    background-color: $wrapBackgroundColor;
    border-radius: $wrapBorderRadius;
}

.verticalSpace {
    padding: $paddingVertical auto;
    background-color: $wrapBackgroundColor;
    border-radius: $wrapBorderRadius;
}

.horizontalFlex {
    display: flex;
    
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.empty {
    gap: 0;
    border-radius: 0;
    overflow: hidden;
    background-color: transparent;
}

.scroll {
    border-radius: 0;
    overflow: scroll;
    background-color: transparent;
}

.blank {
    background-color: transparent;
}

.preOpacity {
    opacity: 0;
    transition: $opacityTransition
}