@import '../../styles/global.module.scss';

.box {
    width: $width;
    height: $height;
    display: $display;
    grid-template-columns: $gridTemplateColumns;
    align-items: $alignItems;
    justify-content: $justifyContent;
    gap: $gap;
    border-radius: $borderRadius;
    overflow: scroll;
    background-color: $boxColor;
    transition: all 0.5s ease-in-out;
}
.box::-webkit-scrollbar { 
    display: none
}

.wrap {
    padding-top: $paddingVertical;
    padding-right: $paddingHorizontal;
    padding-bottom: $paddingVertical;
    padding-left: $paddingHorizontal;
    background-color: transparent;
    border-radius: 0;
}

.color {
    background-color: $boxColor;
}

.horizontalFlex {
    display: flex;
}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.empty {
    gap: 0;
    border-radius: 0;
    overflow: hidden;
    background-color: transparent;
}
